@import "tailwindcss";
.active{
    background:#eef2ff ;
    color:#4f39f6;
    border:1px solid #eee;
    padding: 5px 70px;
    cursor: pointer;
    border-radius: 12px;
}
ul{
    margin-top: 5px;
    border-top: 1px solid #eee;
}
ul li{
    margin-top: 5px;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.2s;
}
ul li:hover{
    background: #eee;
}
@media (max-width:767px)
{
    .page .info{
        direction: rtl;
        width: 100%;
    }
    .page h2{
        margin-left: 15px;
        white-space: wrap;
        font-size: 18px;
    }
    .page .info p{
        text-align: left;
        width: 50%;
        margin-right: auto;
    }
    .contant .icon{
        margin-right:50px ;
    }
    .contant .icon .img > div{
        width: 25px;
        height: 25px;
    }
    .contant .icon div:nth-child(2) p,
    .contant .icon div:nth-child(2) span{
        font-size: 14px;
    }
    .contant .icon .relative .icon-not{
        font-size: 4px;
        background: #000;
    }
    .gird-box .card{
        display: flex;
        width: 80%;
        flex-direction: column;
        height: auto;
    }
    .not-icon{
        margin-right: -5px;
    }
    .red-point{
        width: 7px;
        left: -2px;
        height: 7px;
    }
    .schedul{
        flex-direction: column;
    }
    .today-schedul{
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 100px;
        margin-right: 50px;
}
    .today-schedul .info{
        align-items: center;
        justify-content:center;
        flex-direction: column;
    }

    .today-schedul .card{
        width: 20%;
        flex-direction: column;
    }
    .today-schedul .card div:nth-child(2){
        height: 5px;
        margin-top: -15px;
        margin-bottom: -10px;
        width: 70px;
    }
    .section-two .gpa{
        margin-left: 45px;
        margin-top: -90px;
        width: 200px;
    }
    .section-two .gpa .info p{
        display: none;

    }
    .side-bar{
        width: 150px;
    }
    .side-bar h1{
        display: none;
        font-size: 18px;
        margin-top:38px;
    }

    .dashbord{
        background:#f9fafb;
    }
    .side-bar ul{
        margin-top: 32px
    }
    
}
.error-message {
  color: #f87171; /* أحمر */
  font-size: 0.875rem; /* text-sm */
  margin-top: 0.5rem;
  margin-left: 2.5rem;
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.error-message.show {
  opacity: 1;
  transform: translateY(0);
}